
body{
    font-family: Arial, Helvetica, sans-serif;
    box-align: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

#views {
    margin-left: 15%;
    color: rgb(182, 181, 181);
}

#price{
    display: inline-block;
    margin-top: 20px;
    color: rgb(167, 26, 26);
    font-size: 30px;
    font-weight: bold;
}

#old_price {
    margin-left: 10%;
    color: rgb(182, 181, 181);
}

#discount {
    margin-left: 10%;
    color: rgb(182, 181, 181);
}


output{
    border-block-color: black;
}

.help {
    cursor: help;
}

form:first-child{
    font-weight: bolder;
}

fieldset{
    border:none;
}

.radioContainer {
    cursor: pointer;
    
}

/* .radioContainer{
    position: absolute;
} */

.radioContainer input{
    display: none;
}
.radioContainer .circle{
    display: inline-block;
    /* position: absolute; */
    margin-left: 5%;
    border-radius: 50%;
    width:25px;
    height:25px;
    background-color: grey;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    box-sizing: border-box;
}

.radioContainer:hover .circle{
    box-shadow: 0px 0px 0px 2px #ddd;
}


.radioContainer input:checked  + .circle{
    box-shadow: 0px 0px 0px 2px black;
}

#color::after{
    content: "grey";
}


/* Defining the colors of the radio buttons */
#red + .circle{
    background-color: red;
}

#blue + .circle {
    background-color: blue;
}

#black + .circle {
    background-color: black;
}

#white + .circle {
    background-color: white;
}


#goldenrod + .circle {
    background-color: goldenrod;
}

#gold + .circle {
    background-color: gold;
}

#darkblue + .circle {
    background-color: darkblue;
}

#darkorchid + .circle {
    background-color: darkorchid;
}

#deeppink + .circle {
    background-color: deeppink;
}

#khaki + .circle {
    background-color: khaki;
}

#lightgrey + .circle {
    background-color: lightgrey;
}

#greenyellow + .circle {
    background-color: greenyellow;
}

#maroon + .circle {
    background-color: maroon;
}

#orange + .circle {
    background-color: orange;
}

#peru + .circle {
    background-color: peru;
}

#powderblue + .circle {
    background-color: powderblue;
}

#palegreen + .circle {
    background-color: palegreen;
}

#orangered + .circle {
    background-color: orangered;
}

#plum + .circle {
    background-color: plum;
}

/* All colors defined */

#itemCount {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 15px;
}

input[type="submit"]{
    cursor: pointer;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px 20px;
    width: fit-content;
    height: 100%;
    border-radius:15px;
    border:none; 
}

/* modal */

.overlay{
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
}

/* When the Add to cart button is clicked */
.overlay:target{
    visibility: visible;
}

.modal {
    background-color: white;
    position: fixed;
    box-sizing: content-box;
    /* width: fit-content; */
    height: fit-content;
    padding: 15px;
    top: 25%;
    left: 25%;
    border: 1.5px solid black;
}

div#addOrRemove{
    font-size: 1.5cm;
    font-weight: 800;
    
}

#remove, #add{
    font-size: 50px;
    font-weight: inherit;
    position: relative;
    bottom: 20px;
    /* display: inline-block; */
    padding: 2px 10px;
    color: white;
    background-color: black;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    /* max-height: 1cm; */
    width:2cm;
    /* max-width: 2cm; */
    height: 2cm;
    cursor: pointer;
    border:none;
}

#remove{
    left: 30%;
    padding-bottom: 7px !important;
}

#quantity{
    display: inline;
    position: relative;
    left: 35%;
    bottom: 20px;
}

#add{
    left: 40%;
}

#ok, #buttonGroup button {
    cursor: pointer;
    box-sizing: border-box;
    border: 1.5px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    
}

#agree, #ok {
    background-color: rgba(0,255,0,0.3);
}

#cancel {
    background-color: rgba(255,0,0,0.3);
}

#buttonGroup{
    position: relative;
    left: 70%;
    bottom: 5px;
}
